#export _EXPERIMENTAL_DAGGER_INTERACTIVE_TUI=1
export GITHUB_REPOSITORY=innersource-nn/qms-reference
export GITHUB_REF_NAME=main
export GITHUB_SHA=5ef02fe1e00c1dbf9d924ce9717af85e9d83ae44
export GITHUB_RUN_ID=8428391781
