#export _EXPERIMENTAL_DAGGER_INTERACTIVE_TUI=1

#export GITHUB_REPOSITORY=innersource-nn/qms-reference
#export GITHUB_REF_NAME=main
#export GITHUB_SHA=724a0a893e760ae2df3f809985ee55feda4cb7a9
#export GITHUB_RUN_ID=8428391781
#export GITHUB_TOKEN=ghp_1234567890abcdefghijklmnopqrstuvwxyz

export GITHUB_REPOSITORY=nn-dma/generate-verification-report-test
export GITHUB_REF_NAME=main
export GITHUB_SHA=724a0a893e760ae2df3f809985ee55feda4cb7a9
export GITHUB_RUN_ID=0123456789

# export OVERRIDE_GITHUB_REPOSITORY=nn-dma/generate-verification-report-test
# export OVERRIDE_GITHUB_REF_NAME=main
export OVERRIDE_GITHUB_SHA=061830180fd30a302441b6f87e149a0ab9571829
# export GITHUB_RUN_ID=0123456789

# unset OVERRIDE_GITHUB_REPOSITORY
# unset OVERRIDE_GITHUB_REF_NAME
# unset OVERRIDE_GITHUB_SHA
# unset GITHUB_REPOSITORY
# unset GITHUB_REF_NAME
# unset GITHUB_SHA
# unset GITHUB_RUN_ID